.homescreen,
.recipe-homescreen {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.homescreen {
  background-color: hsla(121, 54%, 77%, 1);
}

.recipe-homescreen {
  background-color: hsla(200, 100%, 84%, 0.815);
}

.image {
  width: 500px;
  height: auto;
}

.pasta-image {
  width: 500px;
  height: 325px; 
} 

.title {
  color: hsl(0, 0%, 100%);
  text-align: center;
}

.description,
.steps,
.ingredients {
  color: hsla(229, 87%, 53%, 0.834);
}

.index-body {
  color:hsla(277, 72%, 37%, 0.75);

}

.welcome,
.list {
  background-color: aquamarine;
}

.dh, .ih, .sh {
  text-align: center;
  background-color: rgb(97, 183, 202);
  color:hsla(255, 65%, 18%, 0.913)
}
