.homescreen {
  background-color: hsla(121, 54%, 77%, 1)
}

.header {
  background-color: hsl(204, 68%, 78%);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.image {
  width: 500px;
  height: auto;
}

.pasta-image{
  width: 500px;
  height: 325px;
  
} 

.title {
  color: hsl(0, 0%, 100%);
}

